<a href="https://colab.research.google.com/github/NavyaSri-2001/Python_Exercises/blob/main/01_SF_Salaries_Exercise_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [5]:
df=pd.read_csv("/content/Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                49730 non-null  int64
 1   EmployeeName      49730 non-null  object
 2   JobTitle          49730 non-null  object
 3   BasePay           49730 non-null  float64
 4   OvertimePay       49729 non-null  float64
 5   OtherPay          49729 non-null  float64
 6   Benefits          13570 non-null  float64
 7   TotalPay          49729 non-null  float64
 8   TotalPayBenefits  49729 non-null  float64
 9   Year              49729 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            49729 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.9+ MB

**What is the average BasePay ?**

In [10]:
x= df['BasePay'].sum()
y=df['BasePay'].count()

In [11]:
x/y

75598.46581017495

In [12]:
df['BasePay'].mean()

75598.46581017495

** What is the highest amount of OvertimePay in the dataset ? **

In [13]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                49730 non-null  int64
 1   EmployeeName      49730 non-null  object
 2   JobTitle          49730 non-null  object
 3   BasePay           49730 non-null  float64
 4   OvertimePay       49729 non-null  float64
 5   OtherPay          49729 non-null  float64
 6   Benefits          13570 non-null  float64
 7   TotalPay          49729 non-null  float64
 8   TotalPayBenefits  49729 non-null  float64
 9   Year              49729 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            49729 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.9+ MB

In [16]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [17]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [34]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]#['EmployeeName']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [31]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [44]:
df.groupby(by='Year').mean()['BasePay']

<ipython-input-44-f2b375a0a27c>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by='Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0    107586.256820
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [46]:
df['JobTitle'].nunique()

1685

** What are the top 5 most common jobs? **

In [49]:
df['JobTitle'].value_counts().head()

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse     996
CUSTODIAN            796
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [63]:
sum(df[df['Year']==2012]['JobTitle'].value_counts()==1)

167

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [80]:
df[df['JobTitle'].str.contains('Chief')]['JobTitle'].count()

113

In [73]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [74]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

317

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [9]:
df['title_len']=len(df['JobTitle'])
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN,30362
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN,30362
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN,30362
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN,30362
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN,30362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30357,30358,ANDREI RISKIN,RECREATION LEADER,14017.79,0.00,668.63,NaN,14686.42,14686.42,2011.0,NaN,San Francisco,NaN,30362
30358,30359,JAMES CLANCEY,TRANSIT OPERATOR,6208.94,1372.97,7103.77,NaN,14685.68,14685.68,2011.0,NaN,San Francisco,NaN,30362
30359,30360,PILAR BALDOZA,SPECIAL NURSE,11906.70,0.00,2778.23,NaN,14684.93,14684.93,2011.0,NaN,San Francisco,NaN,30362
30360,30361,SU QING CHEN,LIBRARY PAGE,14604.00,0.00,78.22,NaN,14682.22,14682.22,2011.0,NaN,San Francisco,NaN,30362
30361,3036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30362

In [8]:
df[['title_len', 'TotalPayBenefits']].corr()#No correlation

                  title_len  TotalPayBenefits
title_len               NaN               NaN
TotalPayBenefits        NaN               1.0

# Great Job!